.content {
  border-top: 1px solid var(--corFonte3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.social_medias {
  max-width: 400px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.social_medias a {
  width: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
  color: var(--corFonte3);
}

.social_medias a:hover {
  transform: scale(1.2);
}

i {
  padding: 5px;
  font-size: 40px;
  color: var(--corFonte3);
}



@media (max-width: 400px){
  .social_medias{
    grid-template-columns: repeat(2, 1fr);
  }

  .social_medias a {
    margin-bottom: 20px;
  }
}