<div class="container">
  <a class="link_button voltar" routerLink="/" routerLinkActive="active"
    >VOLTAR</a
  >
  <h1>Contato</h1>
  <div class="content">
    <h2>sinta-se á vontade para me enviar uma mensagem!</h2>
    <div class="social_medias">
      <a href="mailto:jeffersonmatias2023@gmail.com" target="_blank"
        ><i class="fa-solid fa-envelope"></i> E-mail</a
      >

      <a
        href="https://www.linkedin.com/in/jeffersoncarvalhodev/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >

      <a
        href="https://api.whatsapp.com/send/?phone=5587981319274&text&type=phone_number&app_absent=0"
        target="_blank"
        ><i class="fab fa-whatsapp"></i> Whatsapp</a
      >

      <a href="https://www.instagram.com/devjeffersoncarvalho/" target="_blank"
        ><i class="fa-brands fa-instagram"></i> Instagram</a
      >
    </div>
  </div>
</div>
