<div class="container">
  <a class="link_button voltar" routerLink="/" routerLinkActive="active"
    >VOLTAR</a
  >
  <h1>Contato</h1>
  <div class="content">
    <h2>
      Vamos construir algo juntos? sinta-se á vontade para me enviar uma
      mensagem!
    </h2>
    <div class="social_medias">
      <a href="mailto:jeffersonmatias2023@gmail.com" target="_blank"
        ><i class="fa-solid fa-envelope"></i> E-mail</a
      >
      <a
        href="https://api.whatsapp.com/send/?phone=5587981319274&text&type=phone_number&app_absent=0"
        target="_blank"
        ><i class="fa-solid fa-phone"></i> Telefone</a
      >
      <a
        href="https://www.linkedin.com/in/jeffersoncarvalhodev/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
    </div>
  </div>
</div>
