<div class="container">
  <a class="link_button voltar" routerLink="/" routerLinkActive="active"
    >VOLTAR</a
  >
  <h1>Sobre mim</h1>
  <div class="about">
    <div class="bio">
      <p>
        Olá, Sou <strong>Jefferson Carvalho</strong>. Desenvolvedor front-end,
        atualmente tenho 20 anos. Iniciei minha jornada na programação em abril
        de 2023, deste então tenho me dedicado para aprimorar minhas
        habilidades. com o objetivo de me tornar desenvolvedor FullStack.
        atualmente possuo conhecimento e experiência em:
        <strong
          >HTML, CSS , JavaScript, TypeScript, Angular, NodeJs, Git,
          Github</strong
        >, entre outros. Estou sempre em busca de novos conhecimentos e desafios
        que me permitam crescer como desenvolvedor e como pessoa.
      </p>
      <a
        class="link_button curriculo"
        href="https://drive.google.com/file/d/1nj_-wlDjrS95eQX0yBzOLJpkxJ1Yq_Ng/view?usp=sharing"
        target="_blank"
        >Ver Currículo
        <i class="fas fa-external-link-alt"></i>
      </a>
    </div>
    <div class="tecnologies">
      <h2>Principais habilidades</h2>
      <div class="habilidades">
        <div class="tecnology">
          <div class="logo">
            <img src="../assets/images/tecnologies/html.svg" alt="logo-html" />
          </div>
          <p>HTML</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img src="../assets/images/tecnologies/css.svg" alt="logo-css" />
          </div>
          <p>CSS</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img
              src="../assets/images/tecnologies/js.svg"
              alt="logo-javascript"
            />
          </div>
          <p>JavaScript</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img
              src="../assets/images/tecnologies/ts.svg"
              alt="logo-typescript"
            />
          </div>
          <p>TypeScript</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img
              src="../assets/images/tecnologies/angular.svg"
              alt="logo-angular"
            />
          </div>
          <p>Angular</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img src="../assets/images/tecnologies/git.svg" alt="logo-git" />
          </div>
          <p>Git</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img
              src="../assets/images/tecnologies/github.svg"
              alt="logo-github"
            />
          </div>
          <p>GitHub</p>
        </div>
        <div class="tecnology">
          <div class="logo">
            <img
              src="../assets/images/tecnologies/nodejs.svg"
              alt="logo-nodejs"
            />
          </div>
          <p>NodeJS</p>
        </div>
      </div>
      <h2>Em desenvolvimento</h2>
      <div class="habilidades">
        <div class="tecnology">
          <div class="logo">
            <img
              src="../assets/images/tecnologies/react.svg"
              alt="logo-react"
            />
          </div>
          <p>React</p>
        </div>
      </div>
    </div>
  </div>
</div>
