<header>
  <div class="main">
    <img
      class="image_profile"
      src="./assets/images/img_profile.jpg"
      alt="image profile"
    />
    <h1>Jefferson Carvalho👋</h1>
    <h2>Desenvolvedor Front-End👨‍💻</h2>
    <div class="social_medias">
      <a href="https://github.com/jeffersonmatias" target="_blank"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/jeffersoncarvalhodev/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="menu">
      <a class="link_button" routerLink="/about">Sobre Mim</a>
      <a class="link_button" routerLink="/projects">Projetos</a>
      <a class="link_button" routerLink="/contact">Contato</a>
    </div>
  </div>
</header>
