<div class="container">
  <a class="link_button voltar" routerLink="/" routerLinkActive="active"
    >VOLTAR</a
  >
  <h1>Projetos</h1>
  <div class="projects">
    <app-project
      img="https://i.imgur.com/gfqU2TQ.png"
      title="Voicify"
      description="Voicify é uma aplicação web projetada para converter texto em áudio de forma rápida e eficiente."
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/voicify"
      deploy="https://jeffersonmatias.github.io/voicify/"
    ></app-project>
    <app-project
      img="https://i.imgur.com/gvxRCjK.png"
      title="Jogo da velha"
      description="Este é um projeto simples de Jogo da Velha. O objetivo deste projeto é criar uma versão jogável do clássico jogo da velha"
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/jogo-da-velha"
      deploy="https://jeffersonmatias.github.io/jogo-da-velha/"
    ></app-project>
    <app-project
      img="https://i.imgur.com/DVysXzl.jpg"
      title="BuzzFeed"
      description="O projeto é um site de quiz interativo, inspirado nos populares quizzes da plataforma Buzzfeed."
      tecnologies="HTML | CSS | TypeScript | Angular"
      repository="https://github.com/jeffersonmatias/projeto-buzzfeed"
      deploy="https://projeto-buzzfeed-ten.vercel.app/"
    ></app-project>
    <app-project
      img="https://i.imgur.com/EvcJAqQ.png"
      title="Playstation-Store"
      description="interface da playstation store recriada com angular."
      tecnologies="HTML | CSS | TypeScript | Angular"
      repository="https://github.com/jeffersonmatias/angular-playstation-store"
      deploy="https://playstation-store-five.vercel.app/"
    ></app-project>
    <app-project
      img="https://i.imgur.com/OIh7WWn.jpg"
      title="Golaço-blog"
      description="Um projeto de blog criado com Angular baseado em layout da dribbble."
      tecnologies="HTML | CSS | TypeScript | Angular"
      repository="https://github.com/jeffersonmatias/angular-blog"
      deploy="https://angular-blog-nu-orpin.vercel.app/"
    ></app-project>
    <app-project
      img="https://i.imgur.com/rCgXNbB.png"
      title="Tech-solutions"
      description="Tech Solutions é um projeto web que utiliza HTML, CSS e JavaScript para criar uma plataforma interativa e amigável."
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/tech-solutions"
      deploy="https://tech-solutions-nine.vercel.app/"
    ></app-project>
    <app-project
      img="https://i.imgur.com/RFaTE0q.png"
      title="Pokedex"
      description="uma Pokédex interativa que utiliza a PokeAPI para fornecer informações detalhadas sobre todos os Pokémons."
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/pokedex"
      deploy="https://jeffersonmatias.github.io/pokedex/"
    ></app-project>
  </div>
</div>
