<div class="container">
  <a class="link_button voltar" routerLink="/" routerLinkActive="active"
    >VOLTAR</a
  >
  <h1>Projetos</h1>
  <div class="filter_projects">
    <select id="categorias" name="categorias">
      <option value="todos" selected>Todos os Projetos</option>
      <option value="pessoal">Projetos Pessoais</option>
      <option value="estudo">Projetos de Estudos</option>
    <!--
      <option value="profissional">Projetos Profissionais</option>
    --> 
    </select>
  </div>
  <div class="projects">
    <!--Fórmula Digital-->
    <app-project
      class="card pessoal"
      img="https://i.imgur.com/euanUzh.png"
      title="Fórmula Digital"
      description="uma assessoria de marketing especializada em ajudar empresas a venderem mais."
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/formula-digital"
      deploy="https://formula-digital.vercel.app/"
    ></app-project>

    <!--Portfólio Jefferson Carvalho-->
    <app-project
      class="card pessoal"
      img="https://i.imgur.com/no4jYbS.png"
      title="Portfólio Jefferson carvalho"
      description="Meu novo portfólio desenvolvido com Angular!"
      tecnologies="HTML | CSS | TypeScript | Angular"
      repository="https://github.com/jeffersonmatias/angular-portfolio"
      deploy="https://www.jeffersoncarvalho.tech/"
    ></app-project>

    <!--Tec Solutions-->
    <app-project
      class="card pessoal"
      img="https://i.imgur.com/rCgXNbB.png"
      title="Tech-solutions"
      description="Tech Solutions é um projeto web que utiliza HTML, CSS e JavaScript para criar uma plataforma interativa e amigável."
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/tech-solutions"
      deploy="https://tech-solutions-nine.vercel.app/"
    ></app-project>

    <!--Voicify-->
    <app-project
      class="card pessoal"
      img="https://i.imgur.com/gfqU2TQ.png"
      title="Voicify"
      description="Voicify é uma aplicação web projetada para converter texto em áudio de forma rápida e eficiente."
      tecnologies="HTML | CSS | JavaScript"
      repository="https://github.com/jeffersonmatias/voicify"
      deploy="https://jeffersonmatias.github.io/voicify/"
    ></app-project>

    <!--BuzzFeed-->
    <app-project
      class="card estudo"
      img="https://i.imgur.com/DVysXzl.jpg"
      title="BuzzFeed"
      description="O projeto é um site de quiz interativo, inspirado nos populares quizzes da plataforma Buzzfeed."
      tecnologies="HTML | CSS | TypeScript | Angular"
      repository="https://github.com/jeffersonmatias/projeto-buzzfeed"
      deploy="https://projeto-buzzfeed-ten.vercel.app/"
    ></app-project>

    <!--Psn Store-->
    <app-project
      class="card estudo"
      img="https://i.imgur.com/EvcJAqQ.png"
      title="Playstation-Store"
      description="interface da playstation store recriada com angular."
      tecnologies="HTML | CSS | TypeScript | Angular"
      repository="https://github.com/jeffersonmatias/angular-playstation-store"
      deploy="https://playstation-store-five.vercel.app/"
    ></app-project>
  </div>
</div>
