select {
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  background-color: var(--background1);
  height: 50px;
  margin: 0 20px  20px  20px;
  font-weight: bold;

}

.card{
  display: block;
}

.hidden {
  display: none;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-top: 1px solid var(--corFonte3);
  }